# Vercel Environment Variables — скопируй в Vercel Dashboard

# Database — Direct connection (порт 5432, без pgbouncer)
DATABASE_URL="postgresql://postgres.iorfntcqkyqmxcoidcrn:Baltika1%21%21.AQ@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Auth
NEXTAUTH_SECRET="kR7mP9vL2xQ4wE8tY6uI1oA3sD5fG7hJ9kL0zXcVbNmqWeRtYuIoPaSdFgHjKl"
NEXTAUTH_URL="https://cape-town-marathon-2027.vercel.app"
AUTH_TRUST_HOST="true"

# App
NEXT_PUBLIC_APP_URL="https://cape-town-marathon-2027.vercel.app"

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL="igor-15@tactile-bolt-486317-k7.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDH3t21F2uw4nR2
W+JmpyQpKw5j5WGLP2WdJg3YDIQR+Xj2dh+jIfTeUAnddvCI4sRYPxgHN9CVCl/7
DvY9g2qKewJOQR0RImr+frVfp27x0V3I/kzL4RZ3qzR/UyvaiCRoaXDGThwsh/LG
/IDGxIQxcIta0MX8U+WhxSF9z6yTC5ybqudPDlJf1399rNceWAv485Zz82D9zR41
NNG8EZBJCurWEvAzp29tIYFVK+X9wZQ0Drwc4NYCuOiIF1DUfpxsNVRZ6q7CFAlj
w1kdOd5kh2DfP7Lg7oMpcb1i8A1n07b+hw0jYHyutygNVnMo6Pk9Egv4Uf0RN5j9
LInqj9/DAgMBAAECggEACso7SdVz2N7AzsrzE/ud9iL+6eGuPGg1wiAVyz4Ruy6u
mw+RcasZnw7PGYecQKeNVf5B+9HFjuY6fEE4heWcUNGHNFZLjWtAP3DztbBCSwe0
em9QEgmavucdNGp3CZsj7AcVMX9yAe1s69Uh1pkxUcHzo/l1VsPot6z+u94EQQPc
9u2JrSkKoL2CzFjhhGoPDhYb7rtEvye2iulH9gGeoPqcu2uVFoL08UkN5hiKwh9z
3rgqJK3BUpkgyB+A2fodagUA5xtlOzvGHKh53OxZe486EsTn72Px3FyKV6uaS2Ml
xPW51YbLtYPg3iqhwZ9vsNg4+DrbwW+/UVxuOtVRgQKBgQD0qMlzuX9ciwys6NWh
E/+a78z92axSu7V4l/LZvWII/ZPmXAeAYPa7NMc1x7bA/wqH9Cjwg024Kj4OJWc+
IwrnrR5DLNf2jY8Ox8BvRRmaLxFlElY4LBTrMjMsAhTeHN48LD2lmdGA5dbbfOx4
qh+pH3DdZs+k1YpGlVFuTMS3YQKBgQDRIpmhHmgMIg9OUpWqTBOYiEVGMwJaowSR
BQfgBhiwo8uyRssAh96eNLwuYbjPIZNy1vojPGLIJiizONg7r1smDFZipHDnezZN
NczlsOSdXAxeWfAV0agnyjWLbgd4TVCQ9HnTjGhBXq+AqHkIzbbW0xufs9GmNoDX
B1l5J709owKBgQCJOwOEPdAKgJQjiJYLO8Rri4ZX/PiDj3ZCpjg5mdibYmDLHWO3
xqueZgQ3TkZcCrJFf9ZW0c+ONWOJW8GFQPKk8J3A4C5ixRQxHin6P7AUo8IGBzsF
VvSE2CuLy78YtuiQp+AMOzMgMctKYc/h/sqzekc8aKaftodRAAAk9jqBAQKBgDtc
YNL0uH/JIyMOGeEumtlOxKr6S47CesdW8DdMQ7HPrD+8DF7oMe4h9dAMeNKCK0IL
dxCNUVSSUDceyXGXgn24PsTc/BcYR/9+Z9xCa4Gm4PPe/2CSE/LHWI9s+b3R5C5g
1juPvP/hCluwdjpjeaRcY5jfB4DwM33VXjYfa32VAoGBAKRqDvX8xeDArI4njJdQ
2eFJ+QjrUxkp42QhprDD4oq87EimLYdYIBHXsEwIKSUg35pVvJV6r1IoDXqIhI1P
yUryZ0wbqWwSZkoPFCDaDFDU69PEbn2bpWqgSF4QQzuzdDez9QtLcrFdk51KtCuo
9A15exmfpEtedTAv0Q64JClU
-----END PRIVATE KEY-----
"
GOOGLE_SHEET_ID_BOOKINGS="1DXCw77VN5vmYv0QPgZWVWuu2KUw9yuS3_Hri4rthyAU"
GOOGLE_SHEET_ID_USERS="1DXCw77VN5vmYv0QPgZWVWuu2K"
